
#tableInput td {
    padding: 0px;
    text-align: center;
}

tr > td:nth-child(1) {
    padding: 8px !important;
}

tr:nth-child(1) > td {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.table-bordered {
    border: none;
}

.form-control {
    max-width: 45px;
}

.overline {
    text-decoration: overline;
}

tr.google-visualization-orgchart-noderow-medium > td > div {
    font-size: 18px;
}

tr.google-visualization-orgchart-noderow-medium > td > div > sub:nth-child(1) {
    font-size: 10px;
}

tr.google-visualization-orgchart-noderow-medium > td > div > sub:nth-child(2) {
    font-weight: bold;
}

val {
    display: none;
}

.page {
    display: none;
}

table {
    display: block;
}

.table-sol td {
    padding: 8px !important;

}

.table-sol tr:nth-child(1) > td {
    padding-bottom: 2 !important;
    padding-top: 2 !important;
}

#amount {
    max-width: 200px;
}

#chart_div2, #chart_div3 {
    height: 500px;
    display: none;
}